#game {
    background: url("spaa.webp");
    height: 100vh;
    width: 30vw;
    font-size: 1.5rem;
    display: flex;
}
#scorebox {
    height: 2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: black;
}
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 2rem;
}
#ship {
    height: 4rem;
    position: absolute;
}
.asteroid {
    width: 7rem;
}